body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 100%;
    margin: 0 50px 0 50px;
}

header{
    max-width: 100%;
    margin: 0 50px;
    background-color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

.nav-link{
    color: black;
    text-decoration: none;
    margin: 40px;
}

.nav-link:hover{
    font-weight: bold;
    color: #f77f00;
}

.main{
    margin-top: 150px;
    align-items: center;
}

.text-section{
    text-align: center;
    padding: 100px 30px;
}

.text-section p{
    font-size: 18px;
    margin-top: 30px;
}

#form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#email{
    max-width: 100%;
    width: 275px;
    height: 29px;
    margin: 20px;
    padding: 4px 10px;
    border-radius: 5px;
}

.btn{
    width: 200px;
    margin: 20px 0;
    padding: 8px 10px;
    border-radius: 6px;
    background-color: #f77f00;
    font-weight: bold;
}

#video{
    padding: 50px;
}

.footer{
    max-width: 100%;
    background-color: whitesmoke;
    text-align: center;
    align-items: center;
    padding: 30px 30px;
}

.footer h2{
    font-size: 25px;
    margin-top: 30px;
}

.redes{
    font-size: 20px;
    color: black;
    margin: 10px;

}