body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 100%;
    margin: 0 50px 0 50px;
}

header{
    max-width: 100%;
    margin: 0 50px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

.nav-link{
    color: black;
    text-decoration: none;
    margin: 40px;
}

.nav-link:hover{
    font-weight: bold;
    color: #f77f00;
}

.main{
    margin-top: 100px;
    align-items: center;
}

.email{
    text-align: center;
    padding: 50px 30px;
}

.email p{
    font-size: 18px;
    margin-top: 30px;
}

#form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#email{
    max-width: 100%;
    width: 275px;
    height: 29px;
    margin: 20px;
    padding: 4px 10px;
    border-radius: 5px;
}

.btn{
    width: 200px;
    margin: 20px 0;
    padding: 8px 10px;
    border-radius: 6px;
    background-color: #f77f00;
    font-weight: bold;
}

.container-video{
    padding: 30px;
}
